<header>
  <nav>
    <a [routerLink]="['Home']">Home</a>
    <a [routerLink]="['Suppliers']">Suppliers</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  &copy; Co-jemy Ltd.
</footer>
